################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MA.CenterV2/MA.CenterV2/obj/Debug/netcoreapp2.2
