################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MA.CenterV2/MA.CenterV2/obj/Debug/netcoreapp2.2
/MA.CenterV2/MA.CenterV2/obj
/MA.CenterV2/.vs/MA.CenterV2/v16
/MA.CenterV2/MA.CenterV2/bin/Debug/netcoreapp2.2
/MA.CenterV2/MA.Models/obj/Debug
/MA.CenterV2/MA.Web/bin/Debug/netcoreapp2.2
/MA.CenterV2/MA.Web/obj
/MA.CenterV2/.vs/MA.CenterV2/DesignTimeBuild
/MA.CenterV2/MA.Models/bin/Debug
